* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1c2e4a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #00b1b3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: -6px 13px 19px 6px hsl(180deg 36% 70% / 18%),
    9px 8px 18px 2px #294470;
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.title {
  border-bottom: 3px solid rgb(255, 255, 255);
  margin-bottom: 5px;
  width: 100%;
  background: #667292;
  color: #ffff;
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
  padding: 23px;
  border-radius: 8px 8px 0 0;
  text-align: center;
}
select {
  background: rgb(0 0 0 / 79%);
  color: white;
}
input,
select {
  box-sizing: border-box;
  width: 60%;
  float: right;
  padding: 12px 20px;
  border: 1px solid rgb(41, 153, 228);
  height: 40px;
  border-radius: 5px;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bolder;
  box-shadow: 3px -1px 9px 12px hsl(180deg 36% 70% / 18%),
    -3px 5px 13px 0px #294470;
}
select {
  float: left;
  width: 30%;
}
.result {
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
  border-top: 3px solid white;
  margin-top: 7px;
  padding: 10px;
  background: #0072b5;
  padding: 20px;
  border-radius: 0 0 8px 8px;
}
.fotter {
  position: fixed;
  width: 50%;
  bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
}
.fotter a {
  text-decoration: none;
}
